body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #0306b1; 
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #0306b1; 
}


#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-pacotes .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #cdd8ff;
}

.section-title {
    font-family: Poetsen One, sans-serif;
}


#sobre-a-agencia {
    background-color: #c1c2ff;
}

.text-colored {
    color: #0306b1; 
}

.nav-pacotes .nav-link.active,
#contato button {
    background-color: #0306b1; 
    color: #fff;
}

.nav-pacotes .nav-link:hover {
    color: #0306b1; 
}

#eventos {
    background-color: #cdd8ff;
    color: #000;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#rodapé {
    margin-top: 200px;
}

.carousel-item img{
    width: 100vw;
    height: 75vh;
}

#logo{
    width: 50px;

}

@media (max-width:767px) {
    .carousel-item img {
        height: 280px;
    }
}
